
.signin {
    display: inline-block;
    border: 1px solid ;
    color: #fcfcfc;
    background-color: #739BD0;
    padding: 10px 20px;
    border-radius: 2px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .signin:hover {
    background-color: #2f7ce0;
    border: 1px solid transparent;
  }
  
